body {
    font-family: Roboto;
    margin: 0;
    background-color: #eee;
}

.header {
    padding: 1em;
    color: #fff;
    min-height: 30px;
    background-color: #82ca9d;

    .title {
        float: left;
        font-size: 24px;
    }

    a {
        padding: 0 15px;
        text-decoration: none;
        color: #fff;
        float: right;
        font-size: 24px;
        
        :hover {
            color: #eee;
        }
    }
}

.container {
    padding: 30px;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    height: 100vh;
}